.portfolio-content:hover .entry-content {
  visibility: visible;
  opacity: 1;
}

.portfolio-content .entry-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-family: poppins, sans-serif;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s;
}

.portfolio-content figure {
  margin: 0;
}

.portfolio-content figure div {
  width: 100% !important;
}

section {
  margin-left: 80px;
}

.grid {
  width: 100%;
  column-count: 3;
  column-gap: 5px;
}

.grid .grid-item {
  margin-bottom: 5px;
}

.logo {
  width: 100%;
}

/* tablet */
@media only screen and (max-width: 992px) {
  section {
    margin-left: 0px;
    margin-top: 78px;
  }

  .logo {
    width: 60px;
    vertical-align: middle;
  }

  .grid {
    width: 100%;
    column-count: 2;
    column-gap: 5px;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {
  section {
    margin-left: 0px;
    margin-top: 78px;
  }

  .logo {
    width: 40px;
    vertical-align: middle;
  }

  .grid {
    width: 100%;
    column-count: 1;
    column-gap: 5px;
  }
}
